@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Segoe UI;
  src: url("/fonts/SegoeUI.ttf");
}

@font-face {
  font-family: SF Pro Display;
  src: url("/fonts/SF-Pro-Display-Regular.otf");
}

.font-sf {
  font-family: 'SF Pro Display', sans-serif;
}



:root {
  font-family: Segoe UI;
  background-color: #1d2129;
  /*user-select: none;*/
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #ffffff;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
  color: #ffffff;
}

h3 {
  font-size: 1.5rem;
  font-weight: 400;
  color: #ffffff;
}

h4 {
  font-size: 1.25rem;
  font-weight: 400;
}

h5 {
  font-size: 1rem;
  font-weight: 400;
}

h6 {
  font-size: 0.875rem;
  font-weight: 400;
}


/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross 右上角叉叉 */
.bm-cross {
  background: #bdc3c7;

}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles  整体的背景*/
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list  每个条目*/
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
  font-size: 28px;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}